[colour]
	iu = true
[user]
	name = Yong Gu
	email = yong.g.gu@ericsson.com
[merge]
        tool = kdiff3
	conflictstyle = diff3
[diff]
        #tool = vimdiff
        #external = /home/eyonggu/bin/git_vimdiff_wrapper
        #tool = meld
        #external = /home/eyonggu/bin/git_melddiff_wrapper
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        type = cat-file -t
        dump = cat-file -p

        lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white). %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
        lg = !"git lg1"
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --numstat
        graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white). %an%C(reset)' --abbrev-commit

        dt = difftool --tool=vimdiff
        dtm = difftool --tool=meld
        dtv = difftool --tool=vimdiff
        dr  = "!f() { git diff "$1"^.."$1"; }; f"

        cu = commit --amend --date="$(date -R)"

[pager]
        diff = 

[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore
	editor = vi

[difftool]
	prompt = false
        # Be able to abort all diffs with `:cq` or `:cquit`
	trustExitCode = true

[mergetool "kdiff3"]
	path = /app/kdiff3/0.9.96/LMWP2/kdiff3
[mergetool]
	keepBackup = false
[push]
	default = matching
